body{
    background-color: whitesmoke;
    place-items: center;
    display: grid;
    gap: 1 rem;
    grid-template-columns: repeat(auto-fit,minmax(15rem,ifr));
}

.container{
    background-color: white;
    max-width: 15rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 3px 3px 10px 0px rgb(139, 138, 138);
}
.information{

}
#flag{

}